#header {
    position: fixed;
    z-index: 500;
    top: 0;
    background-color: #0066ff;
    height: 45px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    text-align: right;
    font-weight: bold;
    text-transform: lowercase;
}

#content {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
