#header {
    z-index: 500;
    top: 0;
    position: fixed;
    background-color: black;
    height: 100px;
    width: 100%;
}

#content {
    padding-top: 50px;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
